.container{
    min-width: 500px;
    display: flex;
    border-color: rgb(162, 204, 204);
}
.sidebar{
    padding: 10px;
    border: 2px solid rgb(144, 144, 224);
    border-radius: 5px;
}
.logo{
    width: 35vw;
}
.btn{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5px;
    width: 35vw;    
}
.btnName{
    text-align: center;
    margin: auto;
}
.infoBook{
    padding-left: 10px;
    width: 500px;
 }
 .info , .massage{
    padding: 10px;
    border: 2px solid rgb(144, 144, 224);
    border-radius: 5px;
}




button {
    width: 100px;
    font-size: 130%;
    padding: 1px;
    margin: 3px;
}


.massage{
    margin-top: 10px;
}
#textareaInfo{
    background-color: rgb(228, 222, 222);
    border: none;
    width: 480px;
}

.iLikeImg{width: 200px;}
.prise{
    padding: 10px;
    border: 2px solid rgb(144, 144, 224);
    border-radius: 5px;
    margin-left: 10px;
}
.questions{
    padding: 10px;
    border: 2px solid rgb(144, 144, 224);
    border-radius: 5px;
    margin-top: 10px;
}
